# Postgres
POSTGRES_USER=music-app
POSTGRES_PASSWORD=change_me
POSTGRES_DB=music_db

# Backend
DATABASE_URL=postgresql://music-app:change_me@postgres:5432/music_db
REDIS_URL=redis://redis:6379/0
JWT_SECRET=change_me_to_random_string
PORT=3000

# YouTube
YOUTUBE_COOKIES=